backend/__pycache__
backend/test/appdata
backend/vendor
backend/test/raw/VID_20181017_193542_00_044.insv
backend/test/raw/VID_20251227_133347_00_045 - Copy.insv:Zone.Identifier
backend/test/raw/VID_20251227_133347_00_045.insv
backend/test/raw/test.mp4
backend/test/stitched/VID_20251227_133347.log
.env
